build/*
videoextrator features.txt
.DS_Store
Video Extractor.xcodeproj/patrick.pbxuser
Video Extractor.xcodeproj/patrick.perspectivev3
spgw4ffmpeg.xcodeproj/patrick.pbxuser
spgw4ffmpeg.xcodeproj/patrick.perspectivev3